<a (click)="openModal(forgotPassword)" class="text-light">
    <small>Mot de passe oublié?</small>
</a>

<ng-template #forgotPassword let-modal >
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Vous avez oublié votre mot de passe ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p class="description mt-3 mb-3">
            Un lien de réinitialisation du mot de passe sera envoyé à votre adresse e-mail pour réinitialiser votre mot de passe.
            Si vous ne recevez pas d'e-mail dans quelques minutes, veuillez réessayer.
        </p>
            <form [formGroup]="forgotForm" (ngSubmit)="envoyer()" novalidate>
                <div class="form-group">
                <label >Votre Email</label>
                <input type="text" class="form-control" formControlName='email'>
                
                </div>
                
                <button  class="btn btn-secondary" (click)="modal.dismiss('Cross click')" >Cancel</button>

                <button type="submit"  class="btn btn-success float-right">Envoyer</button>
            <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
                {{errorMsg}}
            </div>
            </form>
        
    </div>
</ng-template>
