<section class="section pb-0 bg-gradient-default">
    <div class="container">
        <div class="row row-grid align-items-center">
        <div class="col-md-4 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
            </div>
        </div>
        <div class="col-lg-8 order-lg-1">
            <!-- <div class="d-flex px-3">
            <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
                </div>
            </div>
            <div class="pl-4">
                <h4 class="display-3 text-white">Modern Interface</h4>
                <p class="text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
            </div>
            </div> -->
            <!-- <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
                <div class="d-flex px-3">
                <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                    </div>
                </div>
                <div class="pl-4">
                    <h5 class="title text-success">Awesome Support</h5>
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                    <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
                </div>
            </div>
            </div> -->
            <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
                <div class="col-12">
                    <div class=" row justify-content-center mb-3">
                        <div class="icon icon-shape bg-gradient-default rounded-circle text-white">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <h5 class="title text-default mb-4">Créer un prêt</h5>
                    </div>
                
                    <div class="row justify-content-center">
                        
                        <div class="col-12 col-sm-10 col-md-8 ">
                    

                    

                            <form novalidate [formGroup]="pretForm" (ngSubmit)="demandePret()">
                                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                                <label for="exampleFormControlInput1">Montant*</label>
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-money"></i></span>
                                    </div>
                                
                                <input type="text" formControlName="montant" class="form-control"
                                (focus)="focus1=true" (blur)="focus1=false" id="exampleFormControlInput1" placeholder="Montant en DT"
                                [ngClass]="{ 'is-invalid': pretForm.get('montant').invalid && pretForm.get('montant').touched || (submitted && f.montant.errors) }">
                                
                                <div *ngIf="pretForm.get('montant').invalid && pretForm.get('montant').touched || (submitted && f.montant.errors)" class="invalid-feedback">
                                    <div >Ce champ est obligatoire* et doit être valide</div>
                                    
                                </div>
                                </div>
                                </div>
                                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                    <label for="exampleFormControlInput2">Durée de remboursement*</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    <input type="text" formControlName="duree" class="form-control" placeholder="XX Mois"
                                    (focus)="focus2=true" (blur)="focus2=false" id="exampleFormControlInput2" 
                                    [ngClass]="{ 'is-invalid': pretForm.get('duree').invalid && pretForm.get('duree').touched || (submitted && f.duree.errors)}">
                                    <div *ngIf="pretForm.get('duree').invalid && pretForm.get('duree').touched || (submitted && f.duree.errors)" class="invalid-feedback">
                                        <div >Ce champ est obligatoire* et doit être valide</div>
                                        
                                    </div>
                                    </div>
                                </div>
                                
                
                                <div class="form-group" [ngClass]="{'focused':focus3===true}">
                                    <label for="exampleFormControlInput4">Type de prêt*</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-tag"></i></span>
                                        </div>
                                    <select class="form-control" id="exampleFormControlSelect7" formControlName="typePret"
                                    (focus)="focus3=true" (blur)="focus3=false"
                                    [ngClass]="{ 'is-invalid': pretForm.get('typePret').invalid && pretForm.get('typePret').touched || (submitted && f.typePret.errors) }">
                                    <option *ngFor="let typePret of typePrets" [ngValue]="typePret">{{typePret}}</option>
                                    
                                    </select>
                                    <div *ngIf="pretForm.get('typePret').invalid && pretForm.get('typePret').touched || (submitted && f.typePret.errors)" class="invalid-feedback">
                                        <div >Ce champ est obligatoire* et doit être valide</div>
                                        
                                    </div>
                                    </div>
                                </div>
                
                
                               
                                
                                
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default   mb-2 ">Confirmer</button>
                                </div>
                                    
                                
                                
                                <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
                                    {{errorMessagePret}}
                                   </div>
                                   <div class="alert alert-success" role="alert" *ngIf="showSuccessMessage">
                                     Pret créer !
                                   </div>
                            </form>
                        </div>

                    </div>

                
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    </section>
